html {
    line-height: $mainLineHeight;
    font-size: $mainFontSize;
    color: $defaultColor;
    height: 100%;
    scroll-behavior: smooth;
    @media screen and (max-width: $desktopWidth) {
        font-size: 16px;
    }
    @media screen and (max-width: $tableWidth) {
        font-size: 15px;
    }
    @media screen and (max-width: $phoneWidth) {
        font-size: 14px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $proxR;
    font-size: $mainFontSize;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
main{
    position: relative;
    z-index: 2;
}
.txt-blue {
    color: $defaultBlue;
}
.clearfix{
    &::after{
        content: '';
        display: table;
        clear: both;
    }
}
%blueBg{
    background-color: $bgSection;
}
