@include font-face("proximanova-black", '../fonts/proximanova-black');
@include font-face("proximanova-bold", '../fonts/proximanova-bold');
@include font-face("proximanova-semibold", '../fonts/proximanova-semibold');
@include font-face("proximanova-extrabld", '../fonts/proximanova-extrabld');
@include font-face("proximanova-light", '../fonts/proximanova-light');
@include font-face("proximanova-regular", '../fonts/proximanova-regular');
@font-face {
  font-family: 'Graphik-Bold';
  src: url('../fonts/Graphik-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}