.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    @include size(100%);
    @include flex(space-between, stretch, nowrap, column);
}
footer, header{
    flex: 0 0 auto;
}
main{
    flex: 1 0 auto;
}

@media screen and (max-width: 1199px){
    .container{
        padding: 0 35px;
    }
}

@media screen and (max-width: 479px){
    .container{
        // max-width: 576px;
        padding: 0 15px;
    }
}
.container-fluid{
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
}