// px to rem
@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

@mixin size($width,$height: $width) {
  width: $width;
  height: $height;
}

@mixin flex ($justify: center, $align: center, $wrap: nowrap, $direction: row, $display: flex) {
  display: $display;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin font-face($font-family, $url) {
	@font-face {
		font-family: '#{$font-family}';
    src: url('#{$url}.woff') format('woff'),
         url('#{$url}.woff2') format('woff'),
		     url('#{$url}.ttf') format('truetype');
		font-weight: 400;
    font-style: normal;
    font-display: swap;
	}
}