/*_reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline; 
	font-style: normal;
}
  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; 
}

html, *, *:before, *:after { box-sizing: border-box; }
  
body {
	line-height: 1;
	background-color: #fff;
}
  
blockquote, q {
	quotes: none; 
}
  
blockquote {
    &:before, &:after {
    	content: '';
		content: none; 
	} 
}
  
q {
    &:before, &:after {
		content: '';
		content: none; 
	} 
}
  
table {
    border-collapse: collapse;
	border-spacing: 0; 
}
  
button {
  background-color: transparent;
  outline: none;
  border: 0;
	cursor: pointer; 
	color: inherit;
	font: inherit;
  padding: 0;
  line-height: normal;
}
*:focus{
	outline: none;
	outline-color: transparent;
	border: none;
}

*::-moz-focus-inner{
	outline: none;
	outline-color: transparent;
	border: none;
}
:not(output):-moz-ui-invalid{
	box-shadow: none;
}
input{
	-webkit-appearance: none;
	-webkit-border-radius:0; 
	border-radius:0;
	border: none;
	&::placeholder, &::-webkit-input-placeholder{
		opacity: 1;
	}
}
a{
  text-decoration: none;
  color: initial;
	&:focus, &:hover{
		text-decoration: none;
	}
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

img, audio, video { max-width: 100%; height: auto; }
audio, canvas, iframe, video, img, svg { vertical-align: middle; }
iframe { border: 0 }

// From
textarea {
  resize: none; /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}