.title-blue, .title-white, .title-pink{
    font-size: $title;
    font-family: $proxBo;
    line-height: 1;
    font-weight: normal;
}
.title-blue{
    color: $defaultBlue;
    span{
        color: $textPink;
    }
}
.title-white{
    color: $w;
    span{
        color: $textPink;
    }
}
.title-pink{
    color: $textPink;
    span{
        color: $defaultBlue;
    }
}

@media screen and (max-width: 599px){
    .title-blue, .title-white{
        font-size: $subtitle;
    }
}