// Font
$proxS                   : "proximanova-semibold", sans-serif;
$proxBo                  : "proximanova-bold", sans-serif;
$proxBl                  : "proximanova-black", sans-serif;
$proxX                   : "proximanova-extrabld", sans-serif;
$proxL                   : "proximanova-light", sans-serif;
$proxR                   : "proximanova-regular", sans-serif;
$logo                    : "Graphik-Bold", sans-serif;

// Size
$mainFontSize            : 16px;
$secondaryFontSize       : 18px;
$title                   : 48px;
$subtitle                : 30px;
$mainLineHeight          : 1;

$desktopWidth            : 1199px;
$smDesktopWidth          : 980px;
$tableWidth              : 799px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$w                       : #ffffff;
$defaultColor            : #010101;
$c1                      : #111111;
$c2                      : #222222;
$c3                      : #333333;
$c4                      : #444444;
$c5                      : #555555;
$c6                      : #666666;
$c7                      : #777777;
$c8                      : #888888;
$c9                      : #999999;


$textPink                : #E06666;
$defaultBlue             : #3D84E0;
$loginBtn                : #0085E3;
$bgSection               : #6d7de4;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

//z-index
$z-                      : -1;
$z0                      : 0;
$z1                      : 10;
$z2                      : 15;
$z3                      : 20;
$z4                      : 25;
$z5                      : 30;
$z6                      : 100;

$animation: all 0.15s ease-in-out;
