.slideUp{
    display: inline-block;
    transform: translate(0%, 200%);
    transition: all 1.5s cubic-bezier(.72,.6,0,1);
    &.is-active{
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    &--1{
        transition-delay: 2s;
    }
    &--2{
        transition-delay: 2.15s;
    }
    &--3{
        transition-delay: 2.3s;
    }
    &--4{
        transition-delay: 2.45s;
    }
}
.main-section__img--left{
    transform: translateX(-50%, 200%);
    transition: transform 3s ease .5s;
}

.main-section__img--middle{
    transition: transform 2.5s ease .75s;
}

.main-section__img--right{
    transition: transform 3s ease .25s;
}
.main-section__img{
    &.is-active{
        transform: translateX(-50%) matrix(1, 0, 0, 1, 0, 0);
    }
}

@keyframes slideUp {
    from {
    }
    to {
        transform: translateX(-50%) matrix(1, 0, 0, 1, 0, 0);
    }
}

.trans-delay-15{
    transition-delay: .15s
}

.trans-delay-30{
    transition-delay: .30s
}
.trans-delay-45{
    transition-delay: .45s
}
.trans-delay-60{
    transition-delay: .60s
}
.trans-delay-75{
    transition-delay: .75s
}
.trans-delay-90{
    transition-delay: .90s
}
#upAbo3Slid{
    display: block;
}

@media screen and (max-width: 1199px){
    .main-section__img{
        &.is-active{
            transform: translate(0) matrix(1, 0, 0, 1, 0, 0);
        }
    }
}

@media screen and (max-width: 799px){
    .main-section__img{
        &.is-active{
            transform: translate(-50%, 0) matrix(1, 0, 0, 1, 0, 0);
        }
    }
}