.confirm{
    padding: 120px 0;
    &__wr{
        text-align: center;
    }
    &__logo{
        // display: inline-block;
        margin-bottom: 50px;
    }
    &__thanks{
        // display: inline-block;
        font-family: $proxBo;
        font-size: 32px;
        margin-bottom: 25px;
    }
    &__link{
        // display: inline-block;
        font-family: $proxBo;
        font-size: 18px;
        text-transform: uppercase;
        color: $defaultBlue;
    }
}