.cookie{
    position: fixed;
    width: 100%;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    z-index: $z3;
    padding: 0 35px;
    &__wr{
        @include flex;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        background-color: #F97873;
        padding: 20px 15px;
        font-family: $proxL;
        color: $w;
        font-size: 14px;
    }
    &__body{
        flex: 1 1 auto;
        a{
            color: $w;
            text-decoration: underline;
        }
    }
    &__txt{
    }
    &__btn{
        @include size(130px,60px);
        flex: 0 0 130px;
        line-height: 60px;
        text-align: center;
        font-family: $proxR;
        span{
            line-height: 1;
            vertical-align: middle;
            text-transform: uppercase;
        }
        &--accept{
            color: #F97873;
            background-color: $w;
            margin: 0 10px 0 20px;
        }
        &--decline{
            border: 1px solid $w;

        }
    }
}

@media screen and (max-width: 991px){
    .cookie{
        &__wr{
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        &__body{
            flex: 0 1 100%;
            margin-bottom: 15px;
        }
        &__btn{
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 575px){
    .cookie{
        bottom: 10px;
        padding: 0 10px;
        &__wr{
            padding: 20px 10px 10px;
        }
        &__body{
            font-size: 12px;
            justify-content: center;
        }
        &__btn{
            @include size(152px, 40px);
            line-height: 40px;
            flex: 0 0 calc((100% - 15px) / 2);
            max-width: 155px;
            &--accept{
                margin-right: 15px;
            }
        }
    }
}