footer{
    // @include size(100%, 560px);
    width: 100%;
    height: 597px;
    position: relative;
    z-index: 1;
    background-color: #dd666a;
    box-shadow: inset 0px 60px 50px -40px rgba(0,0,0,0.2);
    background-image: url("../img/images/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 106%;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 597px;
    width: 100%;
    color: $w;
    &__wr{
        padding: 160px 0 30px;
    }
    &__top, &__bottom{
        width: 100%;
        @include flex(space-between, flex-end);
        margin-bottom: 60px;
    }
    &__top{
        align-items: center;
    }
    &__language{
        color: $w;
        padding-left: 30px;
        position: relative;
        width: 75px;
        &::before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url('../img/icons/worldwide.svg');
            @include size(19px);
            filter: invert(1);
        }
        &--mb{
            display: none;
        }
    }
    &__body{
        @include flex(space-between, flex-start);
        margin-bottom: 100px;
    }
    &__column{
        flex: 0 0 25%;
        text-align: left;
    }
    &__title{
        font-size: $secondaryFontSize;
        font-family: $proxS;
        margin-bottom: 25px;
    }
    &__link{
        display: table;
        margin-bottom: 20px;
        color: $w;
        overflow: hidden;
        position: relative;
        padding-left: 0;
        transition: all .15s ease-in-out;
        &:last-child{
            margin-bottom: 0;
        }
        &::before{
            @include size(0, 3px);
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            background-color: #4654f7;
            transition: all .15s ease-in-out;
            transform: translateY(-50%);
            transform-origin: left;      
        }
        &:hover{
            color: #4654f7;
            padding-left: 30px;
            font-family: $proxS;
            &::before{
                width: 20px;
            }
        }
    }
    &__bottom{
        margin-bottom: 0;
        font-size: 14px;
    }
    &__copyright{
    }
}

@media screen and (max-width: 1199px){
    .footer{
        &__wr{
            padding: 80px 0 12px;
        }
    }
}

@media screen and (max-width: 799px){
}

@media screen and (max-width: 479px){
    footer{
        box-shadow: inset 0px 50px 30px -30px rgba(0, 0, 0, 0.2);
    }
    .footer{
        &__wr{
            padding: 40px 0 25px;
        }
        &__body{
            flex-wrap: wrap;
            margin-bottom: 60px;
        }
        &__top{
            margin-bottom: 30px;
        }
        &__title{
            margin-bottom: 15px;
        }
        &__link{
            margin-bottom: 15px;
        }
        &__column{
            flex: 0 0 50%;
            margin-bottom: 10px;
            &:nth-child(n+3){
                margin-bottom: 0;
            }
        }
        &__language{
            &--mb{
                display: block;
                margin-top: 20px;
            }
            &--dt{
                display: none;
            }
        }
        &__made{
            display: none;
        }
    }
}