header {
    @include size(100%, 120px);
    font-family: $proxR;
    position: relative;
    z-index: 2;
    &.headroom--not-top{
        z-index: $z2;
    }
}
.headroom--not-top{
    .header{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
}
.header {
    position: relative;
    @include size(100%, 120px);
    background-color: $w;
    &__wrapper {
        @include size(100%);
    }
    &__body {
        @include size(100%);
        @include flex(space-between, flex-start);
        padding-left: calc(calc(100% - 1170px) / 2);
        z-index: $z1;
        // transition: $animation;
    }
    &__wr {
        height: 100%;
        @include flex(space-between, flex-start, nowrap, column);
    }
    &__logo-wr {
        padding: 20px 0 0;
        height: 50px;
    }
    &__func-section {
        @include size(295px, 60px);
        @include flex(space-between, center);
        position: absolute;
        right: 0;
        top: 0;
    }
    &__btn {
        @include size(170px, 100%);
        background-color: #0085e3;
        color: $w;
        font-family: $proxS;
    }
    &__navigation {
        flex: 1 0 auto;
    }
}
.language {
    $b:'.language';

    display: inline-block;
    text-align: justify;
    position: relative;
    padding-left: 30px;
    height: 60px;
    &__item {
        @include size(30px);
        @include flex;
        min-height: 30px;
        padding: 5px 10px;
        cursor: pointer;
        vertical-align: middle;
        // line-height: 60px;
        text-transform: uppercase;
        &--active {
            color: #e46868;
            // cursor: default;
            #{$b}--footer & {
                color: $w;
            }
        }
    }
    &__wr{
        margin-left: 30px;
        position: absolute;
        @include size(40px, 90px);
        @include flex(flex-start, center, nowrap, column);
        left: 0;
        top: 15px;
        // transform: translateY(-50%);
        transform-origin: top;
        transition: max-height;
        transition: all .2s ease-in-out 0s;
        max-height: 30px;
        overflow: hidden;
        &:after{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            @include size(0px, 2px);
            background-color: #e46868;
            transition: all .2s ease-in-out .2s;
            #{$b}--footer & {
                background-color: $w;
            }
        }
        &.is-active{
            max-height: 120px;
            transition: all .2s ease-in-out .2s;
            &:after{
                width: 100%;
                transition: all .2s ease-in-out 0s;
            }
            .language__item--active{
                cursor: default;
            }
        }
    }
    &__icon {
        @include size(19px);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}
.navigation {
    @include flex(space-between, flex-end);
    &__item {
        @include flex(space-between, flex-end);
        position: relative;
        height: 100%;
        padding: 0 0 25px;
        font-size: $secondaryFontSize;
        & + * {
            margin-left: 25px;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
        }
        &:hover {
            &:after {
                background-color: $defaultColor;
            }
        }
        &--active {
            color: $defaultBlue;
            &:after {
                background-color: $defaultBlue;
            }
            &:hover {
                &:after {
                    background-color: $defaultBlue;
                }
            }
        }
    }
}
.logo {
    $b: ".logo";
    &__link {
        color: #22357c;
        font-size: 30px;
        font-family: $logo;
        #{$b}--footer & {
            color: $w;
        }
    }
    &--footer {
        color: $w;
    }
}
@media screen and (max-width: 1199px) {
    .header {
        &__body {
            padding: 0 35px;
        }
        &__func-section {
            right: 35px;
        }
    }
}

@media screen and (max-width: 799px) {
    header{
        z-index: $z2;
    }
    .header {
        height: 80px;
        &__body {
            align-items: center;
            &.is-active {
                position: fixed;
                flex-direction: column;
                align-items: flex-start;
                padding-bottom: 30px;
                background-color: $w;
                @include size(100%);
                .header__hamburger {
                    top: 15px;
                    transform: translateY(0);
                }
                .header__func-section {
                    display: flex;
                    opacity: 1;
                }
                .header__navigation {
                    display: flex;
                    opacity: 1;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                }
                .header__logo-wr {
                    margin-bottom: 85px;
                }
            }
        }
        &__navigation {
            opacity: 0;
            display: none;
            transition: all .15s ease .2s;
            &--active {
                opacity: 1;
                display: block;
            }
        }
        &__func-section {
            opacity: 0;
            display: none;
            position: static;
            width: 100%;
            max-width: 330px;
            align-self: flex-end;
            transition: all .15s ease .2s;
        }
        &__logo-wr {
            height: 80px;
            padding: 0;
        }
        .logo {
            line-height: 80px;
            display: inline-block;
            vertical-align: middle;
        }
        &__hamburger {
            position: absolute;
            right: 35px;
            top: 50%;
            transform: translateY(-50%);
        }
        &__wr {
            height: initial;
            flex: 1 0 auto;
            justify-content: flex-start;
        }
    }
    .navigation {
        &__item {
            padding: 0 0 15px;
            height: initial;
            & + * {
                margin: 30px 0 0 0;
            }
        }
    }
    .hamburger {
        $b: ".hamburger";

        @include size(50px);
        @include flex(space-between, flex-start, nowrap, column);
        cursor: pointer;
        padding: 16px 10px 15px;
        // position: relative;
        background-color: $loginBtn;
        transition: background-color .15s ease-in-out;
        &__span {
            @include size(100%, 3px);
            display: block;
            background-color: $w;
            position: relative;
            z-index: $z2;
            left: 0;
            &--one {
            }
            &--two {
            }
            &--three {
                width: 20px;
            }
        }
        &.is-active {
            background-color: $w;
            .hamburger__span{
                background-color: $defaultBlue;
                &--one {
                    transform: translate(5px, -1px) rotate(50deg);
                }        
                &--two {
                    transform: translate(0px, -1px) rotate(490deg);
                }
                &--three {
                    transform: rotate(45deg);
                    opacity: 0;
                }
            }
        }
    }
    
    .hamburger span {
        // width: 55px;
        // height: 8px;
        // margin-bottom: 10px;
        // background: #7f8fa6;
        // border-radius: 4px;
        transition: all 0.5s ease-in-out;
    }

    .hamburger__span--one {
        transform-origin: 4px 0px;
    }

    .hamburger__span--three {
        transform-origin: bottom right;
    }
    
    .hamburger.is-active{
    } 
    .language{
        &__wr{
            max-width: 40px;
            width: 120px;
            flex-direction: row;
            &::after{
                width: 2px;
                height: 0;
                left: initial;
                right: 0;
            }
            &.is-active{
                max-height: 30px;
                max-width: 120px;
                &::after{
                    height: 100%;
                    width: 2px;
                }
            }
        }
        &__item{
            width: 40px;
        }
    }
}
@media screen and (max-width: 575px) {
    .logo{
        $b: '.logo';
        &__link{
            #{$b}--auth & {
                font-size: 24px;
            }
        }
    }
}


@media screen and (max-width: 479px) {
    .header {
        &__body {
            padding: 0 15px;
            &.is-active {
                .header__hamburger {
                    right: 15px;
                }
            }
        }
        &__hamburger {
            right: 15px;
        }
    }
    .logo{
        $b: '.logo';
        &__link{
            #{$b}--auth & {
                font-size: 24px;
            }
        }
    }
}
