.modal{
    @include size(100%);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $w;
    z-index: $z4;
    overflow-y: scroll;
    @include flex;
    display: none;
    &.is-active{
        display: flex;
    }
}
.modal-login{
    margin: auto;
    width: 100%;
    max-width: 370px;
    padding: 20px 0 15px;
    &__logo{
        margin: 0 auto 40px;
        text-align: center;
        img{
            @include size(100%);
            object-fit: contain;
        }
    }
    &__title{
        font-family: $proxBo;
        color: $defaultBlue;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    &__form{
        margin-bottom: 40px;
        width: 100%;
    }
    &__recovery{
        display: block;
        text-align: center;
        margin-bottom: 30px;
        color: #0085E3;
        font-size: 14px;
        font-family: $proxS;
    }
    &__socials{
        margin-bottom: 45px;
    }
    &__info{
        font-size: 14px;
        // font-family: $proxS;
    }
}
.login-form{
    display: none;
    &--reset{
        display: none;
    }
    &--new{
        display: block;
    }
    &__title{
        font-size: 46px;
        color: #000000;
        margin-bottom: 60px;
        font-family: $proxBo;
        display: inline-block;
    }
    &__group{
        width: 100%;
        & + *{
            margin-top: 30px;
        }
    }
    &__name{
        font-family: $proxS;
        font-size: 18px;
        margin-bottom: 10px;
        display: inline-block;
    }
    &__input{
        @include size(100%, 60px);
        line-height: 60px;
        color: $c3;
        font-size: 16px;
        vertical-align: middle;
        padding: 0 20px;
        transition: $animation;
        box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.1);
        border: 1px solid transparent;
        font-family: $proxR;
        &:active, &:focus{
            border: 1px solid #0085E4;
        }
        &.error{
            border: 1px solid #FF736E;
                & ~ span{
                    opacity: 1;
                }
        }
        &--success{
            border: 1px solid #52AC62;
        }
    }
    &__input-wr{
        position: relative;
        &--success{
            position: relative;
            &:after{
                content: '';
                display: block;
                position: absolute;
                @include size(13px, 7px);
                right: 20px;
                top: 50%;
                transform: translateY(-50%) rotate(-40deg);
                border-left: 2px solid #52AC62;
                border-bottom: 2px solid #52AC62;
            }
        }
    }
    &__btn{
        @include size(100%, 60px);
        max-width: 370px;
        line-height: 60px;
        vertical-align: middle;
        text-align: center;
        background-color: $defaultBlue;
        box-shadow: 0 20px 30px 0px rgba(61,132,224,0.3);
        margin-top: 50px;
        color: $w;
        font-family: $proxS;
    }
    &__error-icon{
        opacity: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        border: 2px solid #E46868;
        border-radius: 50%;
        color: #E46868;
        font-size: 20px;
        font-family: $proxX;
        @include size(20px);
        // @include flex;
        transition: $animation;
        &:before{
            content: '+';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__description{
        font-size: 14px;
        line-height: 18px;
        margin-top: 10px;
        display: inline-block;
    }
    label.error{
        color: #E46868;
        font-size: 14px;
        position: absolute;
        bottom: -10px;
        transform: translateY(100%);
        left: 0;
    }
}
.socials{
    @include flex(space-between);
    padding: 0 20px;
    &__link{
        display: inline-block;
        @include size(48px);
        & + *{
            // margin-left: 90px;
        }
        svg{
            @include size(100%);
            max-width: 100%;
            max-height: 100%;
            transform:  scale(1,1);
            transition: $animation;
            will-change: transform;
            &:hover, &:active, &:focus{
                transform:  scale(1.1, 1.1);
            }
        }
    }

}
@media screen and (max-width: 575px){
    .modal-login{
        padding: 20px 15px 15px;
        &__logo{
            margin-left: 0;
            text-align: left;
        }
        &__title{
            margin-bottom: 18px;
        }
        &__form{
            margin-bottom: 30px;
        }
        &__socials{
            margin-bottom: 20px;
        }
        &__info{
            font-size: 12px;
        }
    }
    .login-form{
        &__title{
            margin-bottom: 40px;
        }
        &__btn{
            margin-top: 30px;
        }
    }
    .socials{
        padding: 0;
    }
}