.privacy{
    padding: 120px 0 150px;
    background-color: #F7F7F7;
    .container{
        max-width: 970px;
    }
    &__subtitle{
        font-size: 18px;
        font-family: $proxBo;
        color: #E46868;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__title{
        font-size: 72px;
        margin-bottom: 40px;
    }
    &__update{
        display: inline-block;
        font-size: 18px;
        margin-bottom: 70px;
        line-height: 28px;
    }
    &__list{
        color: #3E3E3E;
        font-size: 18px;
    }
    &__article{
        margin-bottom: 40px;
    }
    &__name{
        font-size: 24px;
        font-family: $proxS;
        line-height: 28px;
        margin-bottom: 20px;
    }
    &__body{

    }
    &__paragraph{
        line-height: 28px;
        margin-bottom: 30px;
    }
    &__items{
        padding-left: 100px;
        line-height: 28px;
    }
    &__item{
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 991px){
    .privacy{
        padding: 80px 0 90px;
        &__items{
            padding-left: 90px;
        }
    }
}
@media screen and (max-width: 639px){
    .privacy{
        padding: 70px 0 90px;
        &__subtitle{
            font-size: 16px;
            margin-bottom: 18px;
        }
        &__title{
            font-size: 36px;
            margin-bottom: 19px;
        }
        &__article{
            margin-bottom: 30px;
        }
        &__items{
            padding-left: 35px;
        }
        &__update{
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 40px;
        }
        &__name{
            font-size: 18px;
            line-height: 20px;
        }
        &__paragraph{

        }
    }
}