.question{
    margin-bottom: 150px;
    overflow: hidden;
    &__title{
        margin-bottom: 130px;
        max-width: 750px;
    }
    &__body{
        @include flex(space-between, flex-start, wrap);
        margin-bottom: 90px;
    }
    &__form-wr{
        flex: 0 1 585px;
        margin-right: 15px;
    }
    &__links-bar{
        flex: 0 0 410px;
    }
    &__button{
        @include size(270px, 60px);
        line-height: 60px;
        vertical-align: middle;
        text-align: center;
        background-color: $defaultBlue;
        font-size: 16px;
        color: $w;
        font-family: $proxBo;
        box-shadow: 0 20px 30px 0 rgba(61,132,224,0.3);
    }
}
.form{
    @include flex(space-between, flex-start, wrap, row);
    &__title{
        font-size: 30px;
        font-family: $proxBo;
        margin-bottom: 40px;
        flex: 0 0 100%;
    }
    &__group{
        position: relative;
        height: 45px;
        border-bottom: 1px solid #d0d0d0;
        &--textarea{
            flex: 0 0 48.5%;
            height: 171px;
            padding-bottom: 1px;
            .form__label{
                top: 30px;
            }
        }
        & + *{
            margin-top: 18px;            
        }
    }
    &__wrapper{
        flex: 0 0 48.5%;
    }
    &__label{
        font-size: 18px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: $animation;
        span{
            color: $defaultBlue;
        }
    }
    &__input, &__textarea{
        font-size: 18px;
        height: 100%;
        line-height: 45px;
        vertical-align: middle;
        font-family: $proxR;
        &::placeholder{
            font-size: 18px;
            color: transparent;
            transition: $animation;
            transition-delay: .1s;
            opacity: 1;
        }
        &:focus{
            &::placeholder{
                color: $defaultBlue;
            }
        }
        &:focus{
            & +.form__label{
                top: 0;
                font-size: 16px;
                transform: translateY(-100%);
            }
            & ~ .form__decor{
                width: 100%;
            }
        }
        &:not(:placeholder-shown){
            & +.form__label{
                top: 0;
                font-size: 16px;
                transform: translateY(-100%);
                opacity: .5;
            }
        }
    }
    &__decor{
        position: absolute;
        width: 0;
        height: 1px;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $defaultBlue;
        transition: all .2s ease-in;
    }
    &__textarea{
        border: none;
        @include size(100%);
        resize: none;
    }
}
.links{
    @include flex(space-between, flex-start, wrap);
    &__item{
        flex: 0 0 49.4%;
        margin-bottom: 75px;
    }
    &__title{
        @extend .form__title;
        margin-bottom: 21px;
    }
    &__body{
        color: $defaultBlue;
        &--default{
            color: $defaultColor;
        }
    }
}

@media screen and (max-width: 991px){
    .question{
        &__title{
            margin-bottom: 60px;
        }
        &__body{
            flex-wrap: wrap;
        }
        &__form-wr{
            flex: 0 0 100%;
            margin-right: 0;
            margin-bottom: 50px;
        }
        &__links-bar{
            flex: 0 0 80%;
        }
    }
}

@media screen and (max-width: 567px){
    .question{
        &__title{
            font-size: 36px;
        }
        &__form-wr{
            order: -1;
        }
        &__links-bar{
            order: 1;
        }
        &__button{
            order: 0;
            margin: 0 auto 90px;
            width: 328px;
            max-width: 100%;
            align-self: center;
        }
    }
    .form{
        &__wrapper{
            flex: 0 0 100%;
            margin-bottom: 20px;
        }
        &__group{
            &--textarea{
                flex: 0 0 100%;
            }
        }
    }
    .links{
        &__item{
            margin-bottom: 10px;
        }
        &__body{
            color: $defaultColor;
            &:focus, &:active{
                color: #3D84E0;
            }
        }
    }
}