.how {
    padding: 155px 0 175px;
    background-image: url("../img/images/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    position: relative;
    &:after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: $z1;
    }
    &__wrapper {
        text-align: left;
    }
    &__title {
        display: inline-block;
        margin-bottom: 60px;
        margin-left: 26%;
    }
    &__body{
        position: relative;
        overflow: hidden;
        // height: 800vh;
        transition: all .2s cubic-bezier(.09,.97,1,.99) .7s;
        &.animated{
            height: 100%;
        }
    }
    &__card {
        @include flex(space-between, stretch);
        display: flex;
        // height: 100%;
        // overflow: scroll;
        width: 100%;
        max-width: 50%;
        margin: auto;
        transition: all .2s cubic-bezier(.09,.97,1,.99);
        transition-delay: .5s;
        &.animated{
            max-width: 100%;
        }
    }
    &__left-wr,
    &__right-wr{
        display: inline-block;
        width: 100%;
        max-width: 50%;
        @include flex(center, center, nowrap, column);
        transition: all .2s cubic-bezier(.09,.97,1,.99);
        transition-delay: .5s;
        &.animated{
            max-width: 50%;
        }
    }
    &__left-wr{
        height: 80vh;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 100%;
        transition: $animation;
        transition-delay: .5s;
        &.animated{
            height: auto;
        }
    }
    &__left-inside-wr{
        height: 100%;
        @include flex();
        transition: transform .15s ease-in;
        position: static;
        transform: scale(.85, 0.85);
        // position: absolute;
        will-change: transform;
        transition-delay: .3s;
        &.animated{
            transform: scale(1,1);
            height: 80vh;
        }

    }
    &__left {
        background-color: $w;
        position: absolute;
        z-index: -1;
        opacity: 0;
        // height: 100%;
        &.is-active{
            position: relative;
            z-index: 1;
            opacity: 1;
        }
        &--mb-d-block {
            display: none;
        }
    }
    &__right-wr{
        margin-left: auto;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        max-width: 100%;
        opacity: 0;
        transition: all .2s cubic-bezier(.09,.97,1,.99);
        // transition-delay: .7s;
        &.animated{
            position: static;
            opacity: 1;            
        }
    }
    &__right {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(n+2):not(:last-child){
            height: 70vh;
        }
    }
    &__txt {
        max-width: 450px;
        text-align: left;
    }
    &__paragraph {
        font-size: 16px;
        line-height: 24px;
        & + * {
            margin-top: 35px;
        }
    }
    &__pic {
        display: inline-block;
        max-height: 100%;
        height: 100%;
        img {
            max-height: 80vh;
            height: auto;
            width: 100%;
            object-fit: contain;
        }
    }
    &__subtitle {
        margin-bottom: 40px;
        font-size: 30px;
        font-family: $proxS;
        line-height: 24px;
        color: $defaultBlue;
    }
    &__img {
        position: absolute;
        width: 80%;
        max-width: 400px;
        &--one {
            top: 7.5%;
            left: -13%;
        }
        &--two {
            top: 55.5%;
            right: -9.5%;
        }
        &--three{
            right: -11%;
            top: 10%;
        }
        &--four{
            left: -12%;
            top: 34%;
        }
        &--five{
            top: 10.2%;
            right: -9%;
        }
        &--six{
            top: 28.4%;
            left: -11%;
        }
        &--seven{
            top: 14%;
            left: -15%;
        }
        &--eight{
            top: 38%;
            right: -16%;
        }
    }
    &__market {
        // display: none;
        margin-top: 130px;
        position: relative;
        z-index: $z2;
    }
    &__scroll-down{
        @include size(70px);
        @include flex();
        left: 0;
        top: 0;
        line-height: 1;
        vertical-align: middle;
        text-transform: uppercase;
        background-color: #3D84E0;
        border-radius: 50%;
        position: fixed;
        z-index: $z-;
        opacity: 0;
        // transition: $animation;
        &.active{
            z-index: $z3;
            opacity: 1;
        }
        span{
            font-size: 12px;
            line-height: 14px;
            color: #FFFFFF;
            font-family: $proxBo;

        }
    }
}

@media screen and (max-width: 991px) {
    .how {
        padding: 80px 0 125px;
        &__title{
            margin-left: 16%;
        }
        &__left {
            height: 485px;
        }
        &__pic {
            height: 100%;
            img {
                height: 100%;
            }
        }
        &__img {
            height: 150px;
            img {
                height: 100%;
            }
            &--one {
                left: -30px;
            }
            &--two {
                right: 0px;
            }
        }
        &__paragraph {
            & + * {
                margin-top: 25px;
            }
        }
    }
}

@media screen and (max-width: 630px){
    .how{
        &__market{
            .market__link{
                width: 120px;
            }
        }
    }
}

@media screen and (max-width: 599px){
    .how{
        &__title{
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 575px) {
    .how {
        overflow: hidden;
        padding: 120px 0;
        &__body {
            margin-bottom: 60px;
            overflow: visible;
        }
        &__title {
            margin-bottom: 30px;
        }
        &__subtitle {
            font-size: 22px;
        }
        &__wrapper {
            text-align: left;
        }
        &__card {
            max-width: 100%;
            & + * {
                margin-top: 30px;
            }
        }
        &__img {
            &--one {
                height: 165px;
                top: 40px;
            }
            &--two {
                height: 165px;
                bottom: 40px;
            }
            &--three {
                right: -28px;
                top: 53px;
                height: 77%;
            }
            &--four {
                height: 100px;
                left: -30px;
                top: 36%;
            }
            &--five {
                height: 84%;
                right: -32px;
                top: 51px;
            }
            &--six {
                height: 121px;
                left: -27px;
                top: 164px;
            }
            &--seven {
                height: 104px;
                left: -30px;
                top: 94px;
            }
            &--eight {
                height: 250px;
                right: -13px;
                top: 200px;
            }
        }
        &__pic {
            img {
                height: 530px;
            }
        }
        &__right-wr {
            height: auto;
            position: static;
            opacity: 1;
        }
        &__right{
            height: auto;
            margin-bottom: 60px;
            &:nth-child(n+2):not(:last-child){
                height: auto;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__left-wr{
            display: none;
        }
        &__left {
            position: relative;
            opacity: 1;
            width: initial;
            margin: 0 auto 30px;
            &--mb-d-none {
                display: none;
            }
            &--mb-d-block {
                display: inline-block;
            }
        }
        &__txt {
            max-width: 100%;
            text-align: center;
        }
        &__paragraph {
            text-align: left;
        }
        &__market {
            display: inline-block;
            text-align: center;
            width: 100%;
        }
        &__scroll-down{
            display: none;
        }
    }
}