.summary{
    overflow: hidden;
    &__title{
        font-size: 26px;
        color: $defaultBlue;
        font-family: $proxBo;
        margin-bottom: 28px;
    }
    &__description{
        margin-bottom: 60px;
       max-width: 380px;
    }
    &__txt{
        font-size: 18px;
    }
    &__wrapper{
        @include flex(space-between, center, wrap);
    }
    &__left{
        flex: 0 0 420px;
        margin-right: 30px;
    }
    &__right{
        flex: 0 0 410px;
        height: 620px;
    }
    
    &__pic-wr{
        width: 100%;
        height: 100%;
        position: relative;
        // overflow: hidden;
        &--big{
            left: 0;
            top: 0;
        }
    }
    &__pic{
        position: absolute;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &--big{
            left: -40px;
            z-index: $z0;
        }
        &--small{
            z-index: 11;
            right: -160px;
            top: 110px;
        }
    }
}

@media screen and (max-width: 991px){
    .summary{
        &__right{
            height: 400px;
            margin: 0 auto;
        }
        &__left{
            margin-bottom: 90px;
            flex: 0 0 100%;
        }
    }
}