.main-section{
    // @extend %blueBg;
    padding: 75px 0 120px;
    background-image: url('../img/images/Background_wavy.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 90px;
    color: $w;
    overflow: hidden;
    @include size(100%, 960px);
    .container{
        @include size(100%);
    }
    &__wr{
        @include size(100%);
        position: relative;
    }
    &__picture{position: absolute;
        height: 100%;
        position: relative;
        margin-right: -50px;
    }
    &__img{
        position: absolute;
        height: 100%;
        width: 100%;
        transform: translate(-50%, 120%);
        img{
            height: 100%;
        }
        &--left{
            left: calc(50%  + 420px);
        }
        &--middle{
            left: calc(50% + 580px);
            top: 110px;
        }
        &--right{
            left: calc( 50% + 855px);
            top: 30px;
        }
    }
    &__link{
        &--google{
        }
    }
    &__subtitle{
        margin: 120px 0 30px;
        font-size: $secondaryFontSize;
        font-family: $proxBo;
        display: inline-block;
        overflow: hidden;
    }
    &__title{
        font-size: 72px;
        font-family: $proxBo;
        margin-bottom: 40px;
        span{
            overflow: hidden;
            display: inline-block;
        }
    }
    &__txt{
        font-size: $secondaryFontSize;
        line-height: 28px;
        margin-bottom: 155px;
        max-width: 410px;
        span{
            display: inline-block;
            overflow: hidden;
        }
    }
}
.market{
    $b:'.market';

    &__link{
        @include size(150px, auto);
        max-width: 42%;
        display: inline-block;
        position: relative;
        transition: all .15s ease-in-out;
        box-shadow: none;
        & + *{
            margin-left: 20px;
        }
        .apple-1{
            fill: #ffffff;
        }
        .app-apple, .app-android{
            fill: #000000;
            transition: $animation;
        }
        .android-stroke{
            transition: $animation;
            stroke:#000;
        }
        &:hover{
            .app-apple, .app-android{
                fill: #f97873;
            }
            .android-stroke{
                stroke:#f97873;
            }
        }
        // &:before, &:after{
        //     content: '';
        //     position: absolute;
        //     @include size(100%);
        //     top: 0;
        //     right: 0;
        //     bottom: 0;
        //     left: 0;
        //     display: block;
        //     background-position: 50% 50%;
        //     background-repeat: no-repeat;
        //     background-size: 100%;
        //     transition: $animation;
        // }
        // &:before{
        //     opacity: 1;
        //     z-index: $z1;
        //     transition: all .35s ease-in;
        // }
        // &:after{
        //     opacity: 0;
        //     z-index: $z-;
        //     transition: all .35s ease-in;
        // }
        &--apple{
            // &::before{
            //     background-image: url('../img/icons/Apple_app_black.svg');
            //     #{$b}--lightTheme & {
            //         background-image: url('../img/icons/ios-badge.svg');
            //     }
            // }
            // &::after{
            //     background-image: url('../img/icons/Apple_app_Color.svg');
            //     #{$b}--lightTheme & {
            //         background-image: url('../img/icons/ios-badge.svg');
            //         filter: invert(1); 
            //     }
            // }
            &:hover, &:focus{
                box-shadow: 0 20px 30px 0 rgba(228,104,104,0.3);
                // &::before{
                //     opacity: 0;
                //     z-index: $z-;
                // }
                // &::after{
                //     opacity: 1;
                //     z-index: $z1;
                // }
                #{$b}--lightTheme & {
                    box-shadow: 0 20px 30px 0px rgba(49,37,30,0.2);
                }
            }
        }
        &--google{
            &::before{
                background-image: url('../img/icons/Google_play_black.svg');
                #{$b}--lightTheme & {
                    background-image: url('../img/icons/google-play-badge.svg');
                }
            }
            &::after{
                background-image: url('../img/icons/Google_play_Color.svg');
                #{$b}--lightTheme & {
                    background-image: url('../img/icons/google-play-badge.svg');
                    filter: invert(1); 
                }
            }
            &:hover, &:focus{
                box-shadow: 0 10px 15px 0 rgba(228,104,104,0.3);
                &::before{
                    opacity: 0;
                    z-index: $z-;
                }
                &::after{
                    opacity: 1;
                    z-index: $z1;
                }
                #{$b}--lightTheme & {
                    box-shadow: 0 10px 15px 0px rgba(49,37,30,0.2);
                }
            }
        }
        &:hover{
        }
    }
}

@media screen and (max-width: 1199px){
    .main-section{
        height: 550px;
        &__subtitle{
            margin-top: 20px;
        }
        &__title{
            font-size: 44px;
        }
        &__txt{
            margin-bottom: 60px;
        }
        &__img{
            transform: translate(0, 150%);
            width: initial;
            &--left{
                left: initial;
                right: 200px;
            }
            &--middle{
                left: initial;
                right: 110px;
                top: 55px;
            }
            &--right{
                left: initial;
                right: 35px;
                top: 20px;
            }
        }
    }
}

@media screen and (max-width: 991px){
    .main-section{
        &__subtitle{
        }
        &__title{
        }
        &__txt{
            max-width: 390px;
        }
        &__img{
            &--left{
                right: 150px;
            }
            &--middle{
                right: 60px;
            }
            &--right{
                right: -15px;
            }
        }
    }
}
@media screen and (max-width: 799px){
    section{
        overflow: hidden;
        padding-bottom: 1px;
    }
    .main-section{
        overflow: visible;
        height: 670px;
        margin-bottom: 300px;
        &__title{
            font-size: 64px;
        }
        &__img{
            &--left{
                top: 95%;
                transform: translate(-50%, 150%);
                right: calc(50% - 265px);
            }
            &--middle{
                top: calc(95% + 70px);
                transform: translate(-50%, 150%);
                right: calc(50% - 395px);
            }
            &--right{
                top: 100%;
                transform: translate(-50%, 150%);
                right: calc(50% - 460px);
            }
        }
    }
}
@media screen and (max-width: 630px){
    .main-section{
        &__title{
            font-size: 44px;
        }
    }
}
@media screen and (max-width: 479px){
    section{
    }
    .main-section{
        padding: 90px 0 270px;
        margin-bottom: 230px;
        // border-bottom-left-radius: 0;
        &__subtitle{
            margin: 0 0 20px;
            font-size: $mainFontSize;
        }
        &__title{
            font-size: 36px;
            margin-bottom: 30px;
        }
        &__img{
            height: 420px;
            &--left{
                top: 105%;
                right: calc(50% - 245px);
            }
            &--middle{
                top: 125%;
                right: calc(50% - 352px);
            }
            &--right{
                top: 109%;
                right: calc(50% - 237px);
            }
        }
        &__txt{
            margin-bottom: 45px;
            font-size: $secondaryFontSize;
        }
    }
}