.features{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1740px;
    margin: 0 auto;
    color: $w;
    padding: 60px 0 45px;
    position: relative;
    transition: clip-path 1.5s cubic-bezier(.785,.135,.15,.86);
    clip-path: inset(0 100% 0 0);
    &.visible{
        clip-path: inset(0 0 0 0);
    }
    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background: url('../img/images/Background_wavy.svg') 0 0 repeat;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-transform: rotate(180deg);
        transform: scale(1, -1);
        border-top-right-radius: 90px;
    }
    &__title-box{
        display: block;
        margin: 0 0 125px 26%;
        width: 460px;
    }
    &__card{
        display: inline-block;
        width: 33%;
        vertical-align: top;
        margin-bottom: 85px;
        padding-right: 20px;
    }
    &__img{
        @include size(70px);
        display: block;
        margin-bottom: 30px;
        img{
            max-width: 100%;
            max-height: 100%;
            height: 100%;
        }
    }
    &__name{
        font-family: $proxBo;
        font-size: 26px;
        margin-bottom: 15px;
    }
    &__txt{
        padding-right: 100px;
    }
    &__pagination{
        padding-right: 15px;
        text-align: center;
    }
    &__subtitle{
        font-family: $proxBo;
    }
}
.swiper-pagination-bullet{
    @include size(8px);
    background-color: $w;
    opacity: .5;
    position: relative;
    & +*{
        margin-left: 10px;
    }
    &::after{
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
        @include size(8px);
        border: 1px solid $w;
        border-radius: 50%;
        opacity: 0;
        transition: $animation;
    }
    &-active{
        opacity: 1;
        &:after{
            @include size(14px);
            opacity: 1;
        }
    }
}

@media screen and (max-width: 1199px){
    .features{
        padding: 80px 0 30px;
        &__card{
            margin-bottom: 60px;
        }
        &__title-box{
            margin-bottom: 80px;
        }
        &__txt{
            padding-right: 40px;
        }
    }
}

@media screen and (max-width: 991px){
    .features{
        &__title-box{
            margin-left: 16%;
        }
    }
}

@media screen and (max-width:849px){
    .features{
        border-bottom-right-radius: 0;
        clip-path: none;
        &__card{
            width: 49.5%;
        }
        &__title-box{
        }
        &__txt{
            padding-right: 80px;
        }
    }
}

@media screen and (max-width:699px){
    .features{
        &__card{
        }
        &__title-box{
        }
        &__txt{
            padding-right: 30px;
        }
    }
}

@media screen and (max-width: 599px){
    .features{
        &__title-box{
            margin-left: 0;
        }
    }
}
@media screen and (max-width:567px){
    .features{
        border-bottom-right-radius: 100px;
        &__wrapper{
            @include flex(space-between, flex-start);
            padding-right: 80px;
        }
        &__card{
            width: 100%;
            flex: 0 0 100%;
        }
        &__title-box{
        }
        &__txt{
            padding-right: 150px;
        }
    }
}

@media screen and (max-width:444px){
    .features{
        .container{
            padding-right: 0;
        }
        padding: 60px 0 50px;
        &__subtitle{
            display: none;
        }
        &__wrapper{
        }
        &__card{
            padding-right: 0;
        }
        &__name{
            font-size: 24px;
        }
        &__title-box{
            margin-bottom: 70px;
        }
        &__txt{
            padding-right: 0;
        }
    }
}