.about-section{
    padding: 90px 0 190px;
    &__title{
        margin-bottom: 80px;
        margin-left: 26%;
    }
    &__item{
        & + *{
            margin-left: 50px;
        }
        display: inline-block;
        float: left;
        width: calc(calc(100% - 100px) / 2);
        &:nth-child(2){
            margin-top: 90px;
            margin-bottom: 220px;
            width: calc(100% - 720px);
        }
        &:nth-child(2n+3){
            padding-left: 50px;
        }
        &:nth-child(3){
            margin-bottom: 340px;
        }
        &:nth-child(4){
            float: right;
            margin-top: 280px;
        }
        &--img{
            border-top-right-radius: 20px;
            width: 57%;
        }
    }
    &__subtitle{
        margin-bottom: 30px;
        font-size: 30px;
        font-family: $proxBo;
    }
    &__txt{
        font-size: 19px;
        background-color: #000000;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: url('../img/icons/circle.svg');
        background-repeat: no-repeat;
        background-size: 70px;
        background-position: -100px -100px;
        position: relative;
        &::before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: block;
            z-index: 2;
        }
        p{
            line-height: 32px;
            & + *{
                margin-top: 25px;
            }
        }
    }
    &__picture{
        @include flex();
        transition: clip-path 1s cubic-bezier(.785,.135,.15,.86);
        clip-path: inset(0 100% 0 0);
        img{
            border-top-right-radius: 90px;
        }
        &.visible{
            clip-path: inset(0 0 0 0);
        }
    }
}

@media screen and (max-width: 1199px){
    .about-section{
        &__item{
            &:nth-child(2){
                margin-bottom: 70px;
                margin-top: 70px;
                width: calc(100% - 47% - 50px);
            }
            &:nth-child(3){
                margin-bottom: 110px;
            }
            &:nth-child(4){
                margin-bottom: 130px;
            }
            &--img{
                width: 47%;
            }
        }
        &__txt{
            font-size: 17px;
        }
    }
}

@media screen and (max-width: 991px){
    .about-section{
        &__title{
            margin-left: 16%;
        }
        padding: 75px 0 70px;
        &__item{
            margin-left: 20px;
            width: calc(calc(100% - 20px) / 2);
            &:nth-child(2){
                margin-top: 40px;
                margin-left: 20px;
                margin-bottom: 110px ;
            }
            &:nth-child(3){
                margin-bottom: 235px;
            }
            &:nth-child(4){
                margin-top: 240px;
            }
            &:nth-child(2n+3){
                padding-left: 0;
            }
            &--img{
                margin-left: 0;
                height: 354px;
            }
            & + *{
                margin-left: 0;
            }
        }
        &__txt{
        }
        &__picture{
            @include size(100%);
            overflow: hidden;
            img{
                @include size(100%);
                object-fit: cover;
                object-position: left;
            }
        }
    }
}

@media screen and (max-width: 799px){
    .about-section{
        padding: 40px 0 126px;
        &__item{
            &:nth-child(2){
            }
            &:nth-child(3){
            }
            &:nth-child(4){
            }
            &:nth-child(2n+3){
            }
            &--img{
            }
            & + *{
            }
        }
        &__txt{
            font-size: 16px;
            p{
                line-height: 24px;
            }
        }
        &__picture{
            img{
                object-position: center;
            }
        }
    }
}
@media screen and (max-width: 599px){
    .about-section{
        &__title{
            margin-left: 0;
        }
        padding: 40px 0 126px;
        &__title{
            margin-bottom: 40px;
        }
        &__subtitle{
            margin-bottom: 25px;
            font-size: 24px;
        }
        &__item{
            float: none;
            width: 100%;
            margin: 0;
            &:nth-child(2){
                width: 100%;
                margin: 0 0 60px 0;
            }
            &:nth-child(3){
                margin-bottom: 60px;
            }
            &:nth-child(4){
                margin-top: 0;
                margin-bottom: 60px;
            }
            &:nth-child(2n+3){
            }
            &--img{
                width: 100%;
                margin-bottom: 40px;
            }
            & + *{
            }
        }
        &__txt{
            font-size: 16px;
            color: $defaultColor;
            p{
                line-height: 24px;
            }
        }
        &__picture{
            img{
                object-position: center;
            }
        }
    }
}

@media screen and (max-width: 459px){
    .about-section{
        &__item{
            &--img{
                height: 255px;
            }
        }
    }
            
}